/**********************Custom Properties *************/

:root {
  --first-color: #f01d13;
  --first-alpha-color: rgba(240, 29, 19, 0.75);
  --second-color: #000000;
  --second-alpha-color: rgba(0, 0, 0, 0.75);
  --third-color: navy;
  --third-alpha-color: rgba(32, 42, 68, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/****************Reset ****************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  background: url("./img/pokemon-fondo.png") no-repeat center center fixed;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  grid-gap: 25px;
}

.active {
  font-size: 20px;
  color: green;
}

/*Carousel para repetidos*/

.principal {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 700px;
  width: 320px;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 998;
}

.card-top h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: black;
}

.card-bottom-1 {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
}

.card-bottom-2 {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.card-bottom-1 .descripcion {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  padding-top: 4px;
}
.card-bottom-1 .sombreado {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.card-bottom-2 .descripcion {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
.card-bottom-2 .sombreado {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.category {
  position: relative;
}

.category::before {
  content: "";
  background: rgb(255, 255, 255);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

.repetido {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  color: red;
}

/********************ALBUM FIGURITAS*******************/

.album-pagina {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 80px 25px;
  padding: 50px;
}

.figurita {
  border: thin solid black;
  height: 300px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.figurita img {
  height: 300px;
  width: 220px;
  border-radius: 3px;
  transition: 0.5s;
}

.figurita:nth-child(3) {
  visibility: hidden;
  border: thin solid transparent;
  margin-right: 100px;
  box-shadow: 0;
}

.intro {
  height: 60px;
  width: 240px;
  padding: 6px;
  box-sizing: border-box;
  bottom: 530px;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  transition: 0.5s;
}

.intro h1 {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.intro p {
  font-size: 15px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.figurita:hover {
  cursor: pointer;
}

.figurita:hover .intro {
  height: 160px;
  bottom: 530px;
  background: black;
}
.figurita:hover p {
  opacity: 1;
  visibility: visible;
}

.figurita:hover img {
  transform: scale(1.1) rotate(-3deg);
}
